<div class="modal hide fade">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Programmeintrag {{ entry.id ? '#'~entry.id : 'erstellen' }} ({{ registry.get('semester_title') }})</h3>
    </div>
    <div class="modal-body">
    	<form id="entry" class="form-horizontal" action="/vdst/admin/entry/save" method="POST">
		    <div class="control-group">
			    <label class="control-label" for="date">Datum</label>
			    <div class="controls">
			    	<input type="text" name="date" id="date" value="{% if entry.id %}{{ entry.date | date('d.m.Y') }}{% endif %}">
			    </div>
		    </div>
		    <div class="control-group">
			    <label class="control-label" for="time">Uhrzeit</label>
			    <div class="controls">
			    	<input type="text" name="time" id="time" value="{% if entry.id %}{{ entry.date | date('H:i') }}{% endif %}">
			    </div>
		    </div>
		    <div class="control-group">
			    <label class="control-label" for="text">Text</label>
			    <div class="controls">
			    	<input type="text" name="text" id="text" value="{% if entry.id %}{{ entry.text }}{% endif %}">
			    </div>
		    </div>
		    <div class="control-group">
		    	<label class="control-label" for="importance">Wichtigkeit</label>
			    <div class="controls">
			    	<label class="radio"><input name="importance" type="radio" value="io" {{ entry.importance == 'io' ? 'checked' : '' }}> Inoffiziell (io)</label>
			    	<label class="radio"><input name="importance" type="radio" value="o" {{ entry.importance == 'o' ? 'checked' : '' }}> Offiziell (o)</label>
			    	<label class="radio"><input name="importance" type="radio" value="ho" {{ entry.importance == 'ho' ? 'checked' : '' }}> Hochoffiziell (ho)</label>
			    </div>
		    </div>
		    <input type="hidden" name="semester_title" value="{{ registry.get('semester_title') }}"/>
			{% if entry.id %}<input type="hidden" name="id" value="{{ entry.id }}"/>{% endif %}
	    </form>
    </div>
    <div class="modal-footer">
    	<a href="#" onclick="saveEntry();" class="btn btn-primary">Speichern</a>
    </div>
</div>