{% extends 'base.html.twig' %}
{% set active_page = 'vorstand' %}

{% block content %}

    <h2>Semesterprogramm</h2>
    
    <form class="form-horizontal" action="/vdst/admin/save" method="POST">
    	<fieldset>
			<legend>Einstellungen</legend>
		    <div class="control-group">
			    <label class="control-label" for="semester_title">Aktuelles Semester</label>
			    <div class="controls">
			    	<input type="text" name="semester_title" id="semester_title" value="{{ registry.get('semester_title') }}">
			    </div>
		    </div>
		    <div class="control-group">
			    <label class="control-label" for="semester_text">Begrüßungstext</label>
			    <div class="controls">
			    	<textarea name="semester_text" id="semester_text">{{ registry.get('semester_text') }}</textarea>
			    </div>
		    </div>
	        <div class="form-actions">
			    <button type="submit" class="btn btn-primary">Speichern</button>
			    <button type="reset" class="btn">Zurücksetzen</button>
		    </div>
	    </fieldset>
	
		<fieldset>
			<legend>Programmeinträge</legend>
		    <table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Id</th>
			    		<th>Datum</th>
			    		<th>Uhrzeit</th>
			    		<th>Text</th>
			    		<th>Wichtigkeit</th>
			    		<th>&nbsp;</th>
			    	</tr>
			    </thead>
				<tbody>
					{% for entry in program %}
			    	<tr>
			    		<td>#{{ entry.id }}</td>
			        	<td>{{ entry.date | date('d.m.Y') }}</td>
			        	<td>{{ entry.date | date('H:i') }}</td>
			        	<td>{{ entry.text }}</td>
			        	<td>{{ entry.importance }}</td>
			        	<td><a onclick="fetchEntry('{{ entry.id }}');" class="btn btn-small btn-primary">Bearbeiten</a> <a onclick="deleteEntry('{{ entry.id }}');" class="btn btn-small btn-danger">Löschen</a></td>
			    	</tr>
			    	{% endfor %}
		    	</tbody>
			</table>
			<a onclick="fetchEntry('new');" class="btn btn-success">Eintrag hinzufügen</a>
		</fieldset>
	
	    <fieldset>
			<legend>Geschichte</legend>
		    <textarea name="geschichte" id="geschichte">{{ registry.get('geschichte') }}</textarea>
	        <br/><button class="btn btn-primary">Speichern</button>
	    </fieldset>
    
    </form>
                    
{% endblock %}

{% block javascripts %}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
	<script src="/vdst/vendor/ckeditor/ckeditor.js" type="text/javascript"></script>
	
	<script type="text/javascript">

		CKEDITOR.replace('semester_text');
		CKEDITOR.replace('geschichte');

		function fetchEntry(id)
		{
			$('.modal').remove();
			
			$.post('admin/entry/fetch/' + id, function(html) {
				$(html).modal('show');
			});
		}

		function saveEntry()
		{
			$('#entry').submit();
		}

		function deleteEntry(id)
		{
			$.post('admin/entry/delete/' + id);

			window.location.href=window.location.href;
		}
	
	</script>
	
{% endblock %}